# Evaluación Inicial de Madurez de Capacidades en Ciencia de Datos 
*David Escudero Cascón - 17/02/205*

## Bloque 1

### 1. Muestra el directorio sobre el que se está trabajando. Cambia el directorio de trabajo a la carpeta que te han indicado al comienzo de la prueba. 
- Código en GithUb https://github.com/daekka/ntt_evaluacion_tecnica.git

### 2. Carga de paquetes. Verifica si están instalados los siguientes paquetes: Pandas, Seaborn, y Xlrd. Si no están, instálalos.

In [3]:
# pip install pandas seaborn xlrd
import pandas as pd
import numpy as np
import seaborn as sns
import xlrd

import random
import os

### 3. Carga las funciones contenidas en el script wilcox1.py

In [11]:
from Wilcox1 import multiplicar_2, al_cuadrado

### 4. Establece una semilla para que los resultados sean replicables.

In [ ]:
semilla = 183530 
np.random.seed(semilla)

### 5. Crea un nuevo entorno virtual llamado “venv”. No hace falta que instales nada en este entorno nuevo.  
```python
python -m venv venv
.\venv\Scripts\activate
deactivate

## Bloque 2

### 6. Realiza la carga del fichero data_train.csv. Las 373 deben cargarse como string y ser almacenadas en un dataframe denominado raw_datos.

In [15]:
raw_datos = pd.read_csv('data_train.csv', dtype={'373': str}) # Carla la columna 373 como un string
print(raw_datos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38067 entries, 0 to 38066
Columns: 373 entries, Unnamed: 0 to Target
dtypes: float64(106), int64(267)
memory usage: 108.3 MB
None

### 7. ¿Cómo sería la sentencia si los datos proviniesen de un fichero en formato .xlsx?  
```raw_datos = pd.read_excel('data_train.xlsx', dtype={'373': str})```

### 8. Realiza un análisis descriptivo de todas las variables.

In [16]:
print (raw_datos.describe())

         Unnamed: 0             ID          var_1         var_2  \
count  38067.000000   38067.000000   38067.000000  38067.000000
mean   38067.475766   76077.978039   -1652.225392     33.195156
std    21949.451846   43790.423280   40648.334518     12.978500
min        2.000000       3.000000 -999999.000000      5.000000
25%    19060.000000   38220.500000       2.000000     23.000000
50%    38184.000000   76366.000000       2.000000     28.000000
75%    57022.500000  113761.000000       2.000000     39.000000
max    76019.000000  151836.000000     229.000000    102.000000

               var_3         var_4         var_5         var_6         var_7  \
count   38067.000000  38067.000000  38067.000000  38067.000000  38067.000000
mean       93.054568     73.559261    121.735776      3.850514      6.482932
std      1823.051352    338.128485    546.133568    100.239593    142.294533
min         0.000000      0.000000      0.000000      0.000000      0.000000
25%         0.000000      0.000000      0.000000      0.000000      0.000000
50%         0.000000      0.000000      0.000000      0.000000      0.000000
75%         0.000000      0.000000      0.000000      0.000000      0.000000
max    210000.000000   8520.060000  16086.060000   7904.220000   9133.980000

              var_8  ...       var_362        var_363       var_364  \
count  38067.000000  ...  38067.000000   38067.000000  38067.000000
mean       0.353437  ...      1.832371      15.571522     10.815998
std       20.293751  ...    136.799449     988.923643    662.761439
min        0.000000  ...      0.000000       0.000000      0.000000
25%        0.000000  ...      0.000000       0.000000      0.000000
50%        0.000000  ...      0.000000       0.000000      0.000000
75%        0.000000  ...      0.000000       0.000000      0.000000
max     1800.000000  ...  20385.720000  138831.630000  91778.730000

             var_365       var_366        var_367        var_368  \
count   38067.000000  38067.000000   38067.000000   38067.000000
mean       34.764670      2.413646      85.660288      62.994922
std      2579.594407    176.517038    5132.633085    3619.946027
min         0.000000      0.000000       0.000000       0.000000
25%         0.000000      0.000000       0.000000       0.000000
50%         0.000000      0.000000       0.000000       0.000000
75%         0.000000      0.000000       0.000000       0.000000
max    438329.220000  24650.010000  681462.900000  397884.300000

            var_369       var_370        Target
count  3.806700e+04  38067.000000  38067.000000
mean   1.177811e+05      0.116469      0.039746
std    1.919375e+05      0.101543      0.195364
min    8.856210e+03      0.000009      0.000000
25%    6.777505e+04      0.038694      0.000000
50%    1.063928e+05      0.088641      0.000000
75%    1.189894e+05      0.166985      0.000000
max    2.203474e+07      0.763612      1.000000

[8 rows x 373 columns]

### 9. Localiza las variables con datos nulos (NA, NaN) y decide como tratar estas variables.