In [5]:
import pandas as pd
import numpy as np
import unittest
import pycaret
src_train = pd.read_csv('data_train.csv', dtype={'ID': str})
print (src_train)

       Unnamed: 0      ID  var_1  var_2  var_3   var_4   var_5  var_6  var_7  \
0               2       3      2     34    0.0    0.00    0.00    0.0    0.0
1               7      14      2     27    0.0    0.00    0.00    0.0    0.0
2               8      18      2     26    0.0    0.00    0.00    0.0    0.0
3              10      23      2     25    0.0    0.00    0.00    0.0    0.0
4              12      26      2     26    0.0    0.00    0.00    0.0    0.0
...           ...     ...    ...    ...    ...     ...     ...    ...    ...
38062       43187   86463      2     36    0.0  176.79  176.79    0.0    0.0
38063       56100  111953      2     27    0.0    0.00    0.00    0.0    0.0
38064       43695   87523      2     26    0.0    0.00    0.00    0.0    0.0
38065        8115   16373      2     32    0.0    0.00    0.00    0.0    0.0
38066       51281  102362      2     23    0.0    0.00    0.00    0.0    0.0

       var_8  ...  var_362  var_363  var_364  var_365  var_366  var_367  \
0        0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
1        0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
2        0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
3        0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
4        0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
...      ...  ...      ...      ...      ...      ...      ...      ...
38062    0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
38063    0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
38064    0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
38065    0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0
38066    0.0  ...      0.0      0.0      0.0      0.0      0.0      0.0

       var_368        var_369   var_370  Target
0          0.0   49278.030000  0.012858       0
1          0.0   94956.660000  0.391089       0
2          0.0  251638.950000  0.300590       0
3          0.0  356463.060000  0.022430       0
4          0.0   75368.520000  0.004120       0
...        ...            ...       ...     ...
38062      0.0   58191.720000  0.053754       0
38063      0.0  117310.979016  0.146080       0
38064      0.0  131701.590000  0.010387       0
38065      0.0   72124.830000  0.275760       0
38066      0.0   58750.530000  0.210024       0

[38067 rows x 373 columns]

### 18. Sobre la variables “var_370”, genera dos variables nuevas:
    a. Aplicando el logaritmo con base mediana.
    b. Normalizando dicha variable.

In [ ]:
# 1. Función para aplicar logaritmo en base mediana
def logaritmo_base_mediana(df, columna):
    
    mediana = df[columna].median()
    if mediana <= 0:
        raise ValueError("La mediana debe ser mayor que 0 para aplicar logaritmo.")

    df[columna + '_log_med'] = np.log(df[columna]) / np.log(mediana)
    return df


# 2. Función para normalizar una variable
def normalizar_variable(df, columna, metodo="minmax"):

    if metodo == "zscore":
        media = df[columna].mean()
        std = df[columna].std()
        df[columna + '_norm'] = (df[columna] - media) / std
    
    elif metodo == "minmax":
        min_val = df[columna].min()
        max_val = df[columna].max()
        df[columna + '_norm'] = (df[columna] - min_val) / (max_val - min_val)
    
    else:
        raise ValueError("Método no válido. Usa 'zscore' o 'minmax'.")
    
    return df

src_train = logaritmo_base_mediana(src_train, "var_370")
src_train = normalizar_variable (src_train, "var_370")
print (src_train)

       Unnamed: 0      ID  var_1  var_2  var_3   var_4   var_5  var_6  var_7  \
0               2       3      2     34    0.0    0.00    0.00    0.0    0.0
1               7      14      2     27    0.0    0.00    0.00    0.0    0.0
2               8      18      2     26    0.0    0.00    0.00    0.0    0.0
3              10      23      2     25    0.0    0.00    0.00    0.0    0.0
4              12      26      2     26    0.0    0.00    0.00    0.0    0.0
...           ...     ...    ...    ...    ...     ...     ...    ...    ...
38062       43187   86463      2     36    0.0  176.79  176.79    0.0    0.0
38063       56100  111953      2     27    0.0    0.00    0.00    0.0    0.0
38064       43695   87523      2     26    0.0    0.00    0.00    0.0    0.0
38065        8115   16373      2     32    0.0    0.00    0.00    0.0    0.0
38066       51281  102362      2     23    0.0    0.00    0.00    0.0    0.0

       var_8  ...  var_364  var_365  var_366  var_367  var_368        var_369  \
0        0.0  ...      0.0      0.0      0.0      0.0      0.0   49278.030000
1        0.0  ...      0.0      0.0      0.0      0.0      0.0   94956.660000
2        0.0  ...      0.0      0.0      0.0      0.0      0.0  251638.950000
3        0.0  ...      0.0      0.0      0.0      0.0      0.0  356463.060000
4        0.0  ...      0.0      0.0      0.0      0.0      0.0   75368.520000
...      ...  ...      ...      ...      ...      ...      ...            ...
38062    0.0  ...      0.0      0.0      0.0      0.0      0.0   58191.720000
38063    0.0  ...      0.0      0.0      0.0      0.0      0.0  117310.979016
38064    0.0  ...      0.0      0.0      0.0      0.0      0.0  131701.590000
38065    0.0  ...      0.0      0.0      0.0      0.0      0.0   72124.830000
38066    0.0  ...      0.0      0.0      0.0      0.0      0.0   58750.530000

        var_370  Target  var_370_log_med  var_370_norm
0      0.012858       0         1.796752      0.016827
1      0.391089       0         0.387437      0.512151
2      0.300590       0         0.496050      0.393636
3      0.022430       0         1.567114      0.029362
4      0.004120       0         2.266429      0.005384
...         ...     ...              ...           ...
38062  0.053754       0         1.206417      0.070384
38063  0.146080       0         0.793841      0.191292
38064  0.010387       0         1.884796      0.013592
38065  0.275760       0         0.531630      0.361119
38066  0.210024       0         0.644009      0.275031

[38067 rows x 375 columns]

### 19. Construye una función que reciba una serie de datos (como puede ser una variable en un dataset) y devuelva esa serie normalizada entre 0 y 1. Además la función tiene que comprobar que el formato de la variable de entrada es una serie y elevar un error en caso contrario. Ejecuta esta función sobre la variable que consideres.

In [ ]:

def normalizar_serie(serie):
    if not isinstance(serie, pd.Series):
        raise TypeError("La entrada debe ser una serie de Pandas")
    
    min_val = serie.min()
    max_val = serie.max()
    
    if min_val == max_val:
        return serie.apply(lambda x: 0)  # Evita la división por cero en caso de valores constantes
    
    return (serie - min_val) / (max_val - min_val)


data = pd.Series([10, 20, 30, 40, 50])
serie_normalizada = normalizar_serie(src_train['var_370'])
print (serie_normalizada)

0        0.016827
1        0.512151
2        0.393636
3        0.029362
4        0.005384
           ...
38062    0.070384
38063    0.191292
38064    0.013592
38065    0.361119
38066    0.275031
Name: var_370, Length: 38067, dtype: float64

### 20. Genera los test unitarios que consideres para comprobar el funcionamiento correcto de la función anterior.

In [ ]:
serie = pd.Series([10, 20, 30, 40, 50])
resultado = normalizar_serie(serie)
esperado = pd.Series([0.0, 0.25, 0.5, 0.75, 1.0])
if resultado.equals(esperado):
    print("Correcto")
else:
    print("Incorrecto")

serie = pd.Series([5, 5, 5, 5])
resultado = normalizar_serie(serie)
esperado = pd.Series([0, 0, 0, 0])
if resultado.equals(esperado):
    print("Correcto")
else:
    print("Incorrecto")


# No serie
serie = [10, 20, 30, 40, 50]
resultado = normalizar_serie(serie)

Correcto
Correcto

TypeError: La entrada debe ser una serie de Pandas

### 21. Genera un dataframe con las siguientes variables: 'ID', 'var_2', 'var_276', 'var_325', 'var_278', 'var_275', 'var_280', 'var_327', 'var_63', 'var_369', 'var_1', 'var_279', 'var_340', 'var_339', 'var_165', 'var_177', 'var_172', 'var_168', 'var_114', 'var_47', 'var_105', 'var_194', 'Target', además incluye las variables sintéticas generadas en la pregunta anterior.Guárdalo en un archivo csv que se llame vun_train.csv

In [ ]:
    var_2_normalizada = normalizar_serie(src_train['var_2'])
    columnas_seleccionadas = [
        'ID', 'var_2', 'var_276', 'var_325', 'var_278', 'var_275', 'var_280', 'var_327',
        'var_63', 'var_369', 'var_1', 'var_279', 'var_340', 'var_339', 'var_165', 'var_177',
        'var_172', 'var_168', 'var_114', 'var_47', 'var_105', 'var_194', 'Target'
    ]
    
    vun_train = src_train[columnas_seleccionadas].copy()
    vun_train['var_2_normalizada'] = var_2_normalizada.values
    vun_train.to_csv('vun_train.csv')

## 4. Bloque 4. Modelización

### 22. Vuelve a cargar el archivo vun_train.csv sobre la variable vun_train.

In [19]:
vun_train = pd.read_csv('vun_train.csv')
vun_train = vun_train.iloc[:, 1:]
print (vun_train)

           ID  var_2  var_276  var_325  var_278  var_275  var_280  var_327  \
0           3     34        0        0        0        0        0        0
1          14     27        0        0        0        0        0        0
2          18     26        0        0        0        0        0        0
3          23     25        0        0        0        0        0        0
4          26     26        0        0        0        0        0        0
...       ...    ...      ...      ...      ...      ...      ...      ...
38062   86463     36        0        9        3        3        9       27
38063  111953     27        0        0        0        0        0        0
38064   87523     26        0        0        0        0        0        0
38065   16373     32        0        0        0        0        0        0
38066  102362     23        0        0        0        0        0        0

       var_63        var_369  ...  var_165  var_177  var_172  var_168  \
0           1   49278.030000  ...     0.00      0.0    300.0      0.0
1           1   94956.660000  ...     3.00      0.0      0.0      0.0
2           1  251638.950000  ...     3.00      0.0      0.0      0.0
3           1  356463.060000  ...     3.00      0.0      0.0      0.0
4           1   75368.520000  ...     0.00      0.0      0.0      0.0
...       ...            ...  ...      ...      ...      ...      ...
38062       1   58191.720000  ...  4555.98      0.0      0.0      0.0
38063       1  117310.979016  ...    90.00      0.0      0.0      0.0
38064       1  131701.590000  ...     0.00      0.0      0.0      0.0
38065       1   72124.830000  ...     3.00      0.0      0.0      0.0
38066       1   58750.530000  ...    90.00      0.0      0.0      0.0

       var_114  var_47  var_105  var_194  Target  var_2_normalizada
0            0       0        3        3       0           0.298969
1            0       0        0        3       0           0.226804
2            0       0        0        2       0           0.216495
3            0       0        0        2       0           0.206186
4            0       0        0       99       0           0.216495
...        ...     ...      ...      ...     ...                ...
38062        0       0        0        2       0           0.319588
38063        0       0        0        3       0           0.226804
38064        0       0        0       99       0           0.216495
38065        0       0        0        3       0           0.278351
38066        0       0        0        3       0           0.185567

[38067 rows x 24 columns]

### 23. Separa el dataframe vun_train en dos: uno de entrenamiento y otro de validación, con el 70% y el 30% de los registros respectivamente.

In [11]:
semilla = 183530
from sklearn.model_selection import train_test_split
import numpy as np
# Dividir en entrenamiento (70%) y prueba (30%)
train_df, test_df = train_test_split(vun_train, test_size=0.3, random_state=semilla)

### 24. Realiza un modelo de regresión logística con las variables que consideres oportunas. Interpreta los resultados en función de los p-valores.

In [ ]:
# Se usa PYCARET: librería low-code para aprendizaje automático
# Configuración PYCARET
from pycaret.regression import *
s = setup(data = train_df, target = 'Target', session_id = semilla, normalize= True, remove_outliers = True, feature_selection = True, imputation_type = True, numeric_imputation = 'mean')

TypeError: setup() got an unexpected keyword argument 'fix_imbalance'

In [ ]:
# compare baseline models
best = compare_models()